@import '~bootstrap/scss/functions';

//fonts
$grey: #41454b;

//Colors & Themes
$blue: #297ad1 !default;
$indigo: #2d0eb8 !default;
$purple: #6f42c1 !default;
$pink: #e63b8a !default;
$red: #d30010 !default;
$orange: #f29614 !default;
$yellow: #ffe42f !default;
$green: #9c3 !default;
$blackSqueeze: #dadcdd !default;
$blueGray: #627486 !default;
$black: #000000 !default;
$white: #ffffff !default;

$colors: () !default;
$colors: map-merge(
    (
        'blue': $blue,
        'indigo': $indigo,
        'purple': $purple,
        'pink': $pink,
        'red': $red,
        'orange': $orange,
        'yellow': $yellow,
        'green': $green,
        'blue-gray': $blueGray,
        'white': $white,
        'gray': #cbd0d6,
        'gray-dark': $grey,
    ),
    $colors
);

// urcit barevnostni paletu
$primary: $blue !default;
$secondary: $blueGray !default;
$success: $green !default;
$info: $blackSqueeze !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $blackSqueeze !default;
$dark: #d3d9dc !default;
$theme-colors: () !default;
$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
    ),
    $theme-colors
);
$theme-colors: map-merge($theme-colors, $colors);

// breakpoints

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 980px,
    xl: 1199px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 760px,
    lg: 980px,
    xl: 1232px,
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');
